.App {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.App .container {
  max-width: 600px;
  margin: 10px auto;
  padding: 30px 40px 20px 40px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(205, 204, 204);
  border: 0.5px;
  border-style: solid;
  border-color: #e7e6e6;
}
