.App {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.App .container {
  width: 400px;
  display: block;
  margin: 10px auto;
  padding: 20px 10px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(205, 204, 204);
  border: 0.5px;
  border-style: solid;
  border-color: #e7e6e6;
}
