
h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0;
}
h2 {
  margin-bottom: 0;
}
h3 {
  text-transform: capitalize;
  font-size: 16px;
}

h4 {
font-size: 18px;
}
img {
  width: 60px;
  margin: 5px auto;
}
.temperature {
    font-size: 32px;
  font-weight: bold;
}
.unit {
font-size: 16px;
position: relative;
bottom: 10px;
}
.humidity {
  font-size: 12px;
}
.wind {
  font-size: 12px;
}
